<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.bootcss.com/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function genThumbnail(imgUrl) {
            let img = new Image();
            img.src = imgUrl;
            let canvascontext = document.getElementById("posCanvas").getContext('2d')
            img.onload = function () {
                $("#posCanvas").attr("width", img.width)
                $("#posCanvas").attr("height", img.height)
                canvascontext.drawImage(img, 0, 0, img.width, img.height)
            }

        }

        $(document).ready(function () {
            var canvas = document.getElementById("posCanvas")
            canvas.addEventListener('mousedown', function (e) {
                canvas.getContext('2d').clearRect($("#imgStartPointX").val(),$("#imgStartPointY").val(),$("#SelectWidth").val(),$("#SelectHeight").val())
                genThumbnail($("#url").val())
                $("#imgStartPointX").val(e.offsetX)
                $("#imgStartPointY").val(e.offsetY)
            })
            canvas.addEventListener('mouseup', function (e) {
                $("#imgEndPointX").val(e.offsetX)
                $("#imgEndPointY").val(e.offsetY)
                $("#SelectWidth").val(Math.abs($("#imgStartPointX").val() * 1 - $("#imgEndPointX").val() * 1))
                $("#SelectHeight").val(Math.abs($("#imgStartPointY").val() * 1 - $("#imgEndPointY").val() * 1))
                let canvascontext = document.getElementById("posCanvas").getContext('2d')
                canvascontext.strokeRect($("#imgStartPointX").val(),$("#imgStartPointY").val(),$("#SelectWidth").val(),$("#SelectHeight").val());
            })
        })

        function loadImgJson(commID) {
            if(typeof commID =="number")
            {
                commID = commID-1
                $.getJSON('/gallery_list',function (data) {
                $("#id").val(commID)
                $("#url").val(data["commissions"][commID]["url"])
                $("#title").val(data["commissions"][commID]["title"])
                $("#author").val(data["commissions"][commID]["author"])
                $("#type").val(data["commissions"][commID]["type"])
                if(data["commissions"][commID]["thumbnailInfo"]) {
                    $("#imgStartPointX").val(data["commissions"][commID]["thumbnailInfo"]["beginPointX"])
                    $("#imgStartPointY").val(data["commissions"][commID]["thumbnailInfo"]["beginPointY"])
                    $("#SelectWidth").val(data["commissions"][commID]["thumbnailInfo"]["cutWidth"])
                    $("#SelectHeight").val(data["commissions"][commID]["thumbnailInfo"]["cutHeight"])
                    $("#imgEndPointX").val(Math.abs($("#imgStartPointX").val() * 1 - $("#SelectWidth").val() * 1))
                    $("#imgEndPointY").val(Math.abs($("#imgStartPointY").val() * 1 - $("#SelectHeight").val() * 1))
                    genThumbnail($("#url").val())
                }

                })
            $("#inputForm").show();
            }
            else
            {
                $("#id").val("New");
                $(".CommInfoInput").val('')
                $("#inputForm").show();
            }
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s5">
            {% for commission in gallery_Json["commissions"] %}
                <div class="col xl6 l6 s12 ">
                    <div class="card small">
                        <div class="card-image ">
                            <img src="{{ commission["url"] }}">
                        </div>
                        <div class="card-content">
                            <p>{{ commission["title"] }}</p>
                        </div>
                        <div class="card-action">
                            <a href="javascript:void(0);" onclick="loadImgJson({{ commission["id"] }});$('.CommInfoInput').val('');console.log('{{ commission["id"] }}');">Config...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col xl6 l12 s12">
                <div class="card-panel teal waves-effect waves-light red" onclick="loadImgJson('nmsl')">
                    <span class="white-text">也可以自己添加</span>
                </div>
            </div>
        </div>

        <div class="col s7">
            <form class="col s12" id="inputForm" method="post" style="display:none">
                {{ form.csrf_token }}
                <div class="input-field col s12">
                    <div class="row">
                        {{ form.id(id='id',class='hide') }}
                        <div class="input-field col s8">
                            {{ form.url(id='url',class='validate CommInfoInput',placeholder='URL') }}
                            {{ form.url.label() }}
                        </div>
                        <div class="input-field col">
                            <input type="submit" class="btn waves-effect waves-light" name="Load" value="Load Selector"
                                   onclick="genThumbnail($('#url').val())">
                        </div>
                    </div>
                </div>
                <div class="input-field col s12">
                    {{ form.title(id='title',class='validate materialize-textarea CommInfoInput',placeholder='Title') }}
                    {{ form.title.label() }}
                </div>
                <div class="input-field col s12">
                    {{ form.author(id='author',class='validate CommInfoInput',placeholder='Author') }}
                    {{ form.author.label() }}
                </div>
                <div class="input-field col s12">
                    {{ form.type(id='type',class='validate CommInfoInput',placeholder='Type') }}
                    {{ form.type.label() }}
                </div>
                <div>
                    <canvas id="posCanvas"></canvas>
                    <div class="row">
                        <div class="input-field col s2">
                            {{ form.thumbnailBX(id='imgStartPointX',type="text",placeholder='imgStartPointX',class="CommInfoInput") }}
                            {{ form.thumbnailBX.label() }}
                        </div>
                        <div class="input-field col s2">
                            {{ form.thumbnailBY(id='imgStartPointY',type="text",placeholder='imgStartPointY',class="CommInfoInput") }}
                            {{ form.thumbnailBY.label() }}
                        </div>
                        <div class="input-field col s2">
                            <input placeholder="imgEndPointX" type="text" id="imgEndPointX" class="CommInfoInput">
                            <label for="imgEndPointX">末端X坐标</label>
                        </div>
                        <div class="input-field col s2">
                            <input placeholder="imgEndPointY" type="text" id="imgEndPointY" class="CommInfoInput">
                            <label for="imgEndPointY">末端Y坐标</label>
                        </div>
                        <div class="input-field col s2">
                            {{ form.thumbnailWidth(id='SelectWidth',class="CommInfoInput",type="text",placeholder='SelectWidth') }}
                            {{ form.thumbnailWidth.label() }}
                        </div>
                        <div class="input-field col s2">
                            {{ form.thumbnailHeight(id='SelectHeight',class="CommInfoInput",type="text",placeholder='SelectHeight') }}
                            {{ form.thumbnailHeight.label() }}
                        </div>
                    </div>
                </div>
                <input class="btn waves-effect waves-light red lighten-2" id="submit" name="submit" type="submit">
            </form>
        </div>
    </div>
</div>

</body>
</html>